{% extends "scholar/layout.html" %} 


{% block title %} Favorites {% endblock %} 

{% block body %} 
<h1>Favorite posts: </h1>

<ul>
    {% for post in posts %}
    <li>
        <a href="{% url 'post' post.id %}">
            <p>
                <b>{{post.title}}</b>
            </p>
            {% if post.image != '' %}
            <img src='{{post.image}}' alt="Loading Image">
            {% endif %}
        </a>
    </li>
    {% empty %}
    <i>No Favorite posts Yet</i>
    {% endfor %}
</ul>


{% endblock %} 