{% extends "scholar/layout.html" %} 

{% block title %} Hello! {% endblock %}

{% block body %} 
Hello Django! This is the index page and you are loged in as: {{ user.username }}

<ul>
    {% for post in posts %}

        <li>
            <form action="{% url 'post' post.id %}">
                <button>
                    <h1>{{post.title}}</h1>
                    <img src={{post.image}} alt="Loading image">
                    <div>{{post.content}}</div>
                    <div>{{post.date}}</div>
                </button>
            </form>
        </li>

    {% empty %}
    <h1>No Posts Currently available!</h1>

    {% endfor %}
</ul>


{% endblock %} 

