{% load static %}





<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'scholar/layout_style.css' %}" rel="stylesheet">
        {% block style %}{% endblock %}
    </head>
    <body>
        <div>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'create_post' %}">Create Post</a>
            <a href="{% url 'logout' %}">Log Out</a>
            <a href="{% url 'friends' %}">Friends</a>
            <a href="{% url 'search_post' %}">Explore</a>
            <a href="{% url 'favorite_posts' %}">Favorites</a>
            <a href="{% url 'my_posts' %}">My Posts</a>
            <a href="{% url 'conversations' %}">Notifications</a>
            <a href="{% url 'about' %}">About</a>
        </div>
        {% block body %} 
        {% endblock %}
    </body>
</html>