{% extends 'scholar/layout.html' %} 

{% block title %} Login {% endblock %}

{% block body %} 
<h1>LogIn:</h1>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %} 
    <input name="username" placeholder="Username:" autofocus autocomplete="off" type="text">
    <input name="password"type="password" placeholder="Password" autocomplete="off">
    <button type="submit">Log In</button>
    <b>{{ erorr_message }}</b>
</form>
<div>
    Not have an account yet?
    <a href="{% url 'create_acc' %}">Register Now</a>
</div>
<div>
    Forgot your account? well....
</div>
{% endblock %} 