{% extends 'scholar/layout.html' %} 
{% load static %} 

{% block title %} Login {% endblock %}


{% block style %}
<link href="{% static 'scholar/login.css' %}" rel="stylesheet">
{% endblock %}

{% block body %} 
<div class="login">
    <img src="{% static 'scholar/loginavatar.jpg' %}" alt="Login Avatar">
    <h3>Welcome Back!</h3>
    <h2>ScholarSync</h2>
    <form class="login-form" action="{% url 'login' %}" method="post">
    {% csrf_token %} 
    <input type="username" name="username" placeholder="Username" autofocus autocomplete="off" type="text">
    <input name="password" type="password" placeholder="Password" autocomplete="off">
    <button type="submit">Log In</button>
    <b>{{ erorr_message }}</b>
    </form>
<div>
    <!-- ADDED -->
    <a href="{% url 'create_acc' %}">Don't have an account? Sign Up</h3> 
</div>
</div>
{% endblock %} 
