{% extends 'scholar/layout.html' %} 
{% load static %} 

{% block title %} private messages {% endblock %} 

{% block style %}
<link href="{% static 'scholar/private_message_style.css' %}" rel="stylesheet">
{% endblock %}
{% block body %} 

<h1>private messages with {{receiver.username}}</h1>

<ul>
    {% for message in messages %}
    <li>
        {% if message.sender.id != request.user.id %}
        <a href="{% url 'friend_profile' message.sender.id %}">
            <h3>{{message.sender.username}}</h3>
        </a>
        {% else %}
        <h3>{{message.sender.username}}</h3>
        {% endif %}
        <div>
            <img src="{{message.sender.user_profile.profile_img}}" alt="Loading" width="50" height="50">
        </div>
        <div>{{message.content}}</div>
        <div><i>{{message.date}}</i></div>
    </li>
    {% empty %}
    <i>No message sent yet</i>
    {% endfor %}
</ul>


<p>
    <i>{{err_message}}</i>
</p>
<form action="{% url 'private_messages' receiver.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Send</button>
</form>


{% endblock %}